.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    width: 1360px;
    margin: 100px auto;
}

.banner {
    font-size: 0;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 440px;
    height: 180px;
    background: url(./img/timer_bg.jpg) no-repeat center center;
    font-size: 20px;
    color: #ff2222;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 60px;
}